/* src/components/BarraHistorias/BarraHistorias.css */

.barra-historias {
  width: 100%;

  background-color: white;

  border: 1px solid #dbdbdb;

  border-radius: 20px;

  padding: 18px 20px;

  display: flex;

  align-items: center;

  gap: 22px;

  overflow-x: auto;

  margin-bottom: 30px;

  box-shadow: 0 4px 12px
    rgba(0, 0, 0, 0.04);
}

.barra-historias::-webkit-scrollbar {
  display: none;
}

.historia {
  display: flex;

  flex-direction: column;

  align-items: center;

  gap: 8px;

  min-width: 75px;

  cursor: pointer;

  transition: 0.25s;
}

.historia:hover {
  transform: translateY(-3px);
}

.historia img {
  width: 72px;
  height: 72px;

  border-radius: 50%;

  padding: 3px;

  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );

  object-fit: cover;
}

.historia span {
  font-size: 12px;

  font-weight: 500;

  color: #333;

  max-width: 70px;

  overflow: hidden;

  text-overflow: ellipsis;

  white-space: nowrap;
}

@media (max-width: 768px) {
  .barra-historias {
    padding: 14px;
    gap: 16px;
  }

  .historia img {
    width: 65px;
    height: 65px;
  }
}