.contenedor-cargando {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 20px;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 5px solid #ddd;
  border-top: 5px solid #0095f6;
  border-radius: 50%;
  animation: girar 1s linear infinite;
}

@keyframes girar {
  to {
    transform: rotate(360deg);
  }
}